
body {
    background-image: url(image21.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}
.topnav {
    background-color: #252525;
    opacity: 0.7;
    max-width: 100%;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    justify-content: space-around;
    padding: 16px 59px;
    text-decoration: none;
    font-size: 19px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: rgb(234, 210, 210);
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    color: white;
    background: url(/23_white\ logo-01\ 1.png );
  }
 

  .title
  {
        position: absolute;
        width: 941px;
        height: 200px;
        left: 491px;
        top: 251px;
        font-family: 'PT Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 128px;
        line-height: 166px;
        text-decoration-line: underline;

        color: #FFFFFF;
    }
  .box1
  {
        box-sizing: border-box;

        position: absolute;
        width: 1046px;
        height: 420px;
        left: 174px;
        top: 463px;

        background: linear-gradient(117.5deg, rgba(255, 255, 255, 0.15) -69.92%, rgba(255, 255, 255, 0.17) -69.92%, rgba(255, 255, 255, 0.21) -69.9%, rgba(255, 255, 255, 0.13) -48.83%, rgba(255, 255, 255, 0.09) 82.65%);
        box-shadow: 4px -4px 24px -1px rgba(24, 30, 97, 0.2);
        backdrop-filter: blur(40px);
        /* Note: backdrop-filter has minimal browser support */

        border-radius: 30px;
        
        position: absolute;
        width: 943px;
        height: 260px;
        left: 252px;
        top: 510px;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        line-height: 34px;

        color: #FEF1F1;
        text-align: center;
        padding: 4%;

        
  }
  .explore
    {
            position: absolute;
        width: 455px;
        height: 103px;
        left: 573px;
        top: 770px;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 800;
        font-size: 36px;
        line-height: 44px;

        color: rgba(255, 255, 255, 0.8);
    }
 